.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
}

.form {
  width: 45%;
}

.form form {
  width: 100%;
}

.form-group {
  margin-bottom: 1em;
}

.label-container {
  margin-bottom: 0.5em;
  width: 100%;
}

.input-container {
  width: 100%;
}

.input-container input {
  width: 100%;
  box-shadow: 5px 5px 5px grey;
}

.input-container #textarea {
  width: 100%;
  box-shadow: 5px 5px 5px grey;
}

.button button {
  background-color: white;
  border: none;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button button:hover {
  background-color: #008CBA;
  color: white;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table {
  width: 45%;
}

.table table {
  font-family: arial, sans-serif;
  width: 100%;
  background-color: white;
}

.table td, .table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}

.table td {
  text-align: center;
}

.table tr:nth-child(even) {
  background-color: #dddddd;
}

.edit {
  background-color: #adc596;
}

.remove {
  background-color: #f39e9e;
}
