.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 90vh;
  margin-top: 10vh;
  width: 100%;
}

.form {
  width: 40%;
}

.form form {
  width: 100%;
}

.form-group {
  margin-bottom: 1em;
}

.label-container {
  margin-bottom: 0.5em;
  width: 100%;
}

.input-container {
  width: 100%;
}

.input-container input {
  width: 100%;
}

.button {
  margin-top: 1em;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.table {
  width: 40%;
}

.table table {
  font-family: arial, sans-serif;
  width: 100%;
  background-color: white;
}

.table td, .table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 1em;
}

.table tr:nth-child(even) {
  background-color: #dddddd;
}
