

.form {
    width: 40%;
}

.form form{
    width: 100%;
}

.form-group {
   margin-bottom: 1em; 
}

.label-container {
    margin-bottom: 0.5em;
    width: 100%;

}

.input-container{
    width: 100%;
}

.input-container input{
    width: 100%;
}

.button {
    margin-top: 1em;
}

.button-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}