
.table{
    width: 40%;
}

.table table {
    font-family: arial, sans-serif;
    width: 100%;
    background-color: white;
}

.table td, .table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1em;
}

.table tr:nth-child(even) {
    background-color: #dddddd;
}