
.table{
    width: 45%;
    
}

.table table {
    font-family: arial, sans-serif;
    width: 100%;
    background-color: white;
}

.table td, .table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 1em;
}

.table td{
    text-align: center;
}

.table tr:nth-child(even) {
    background-color: #dddddd;
}

.edit{
    background-color: rgb(173, 197, 150);
}

.remove{
    background-color: rgb(243, 158, 158);
}