

.form {
    background-color: hsl(0, 0%, 100%);
    width: 30%;
    height: 60vh;
    margin-top: 8vh;
    padding: 1em;
    border-radius: 1em;
    box-shadow: 0.2em 0.2em 0.2em 0.2em hsla(0, 0%, 0%, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0%, 0%, 0.226);

}

.form form{
    
    width: 100%;  
}

.form-group {
    
   margin-bottom: 1em; 
}

.label-container {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    width: 100%;

}

.input-container{
    width: 100%;   
}



.input-container input{
    width: 100%;
   
    
}

.category{
    width: 100%;
}



.button button{
  background-color: white;
  border: none;
  color: white;
  padding: 10px 13px;
  text-align: center;
  text-decoration: none;
  color: black;
  display: inline-block;
  font-size: 16px;
  margin: 0.5em ;
  transition-duration: 0.4s;
  cursor: pointer;
}



.button button:hover {
    background-color:  hsl(182, 38%, 68%);
    color: white;
  }

.category-name{

    width: 100%;

    select{
        width: 100%;
    }
   
}