.wrapper{
    display: flex;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100vh;
    width: 90%;
    
}

.title-page{
    text-align: center;
    border-bottom: 0.1em solid hsl(182, 38%, 68%);;
    position: fixed;
    top:auto;
    margin-top: 0.5em;
    height: 4vh;
    width: 6em;
    font-size: 2em;
    font-weight: bold;

    
}
