
.table{
    width: 60%;
    margin-top: 5vh;
}

.table table {
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width: 95%;
    background-color: hsl(0, 0%, 100%);
        
}

.table table:hover{
    box-shadow: 0 0.2em 0.3em 0 rgba(0,0,0,0.24), 0 0.2em 1em 0 rgba(0,0,0,0.19);
}

.table tr{
    border-bottom: 0.1em solid hsl(0, 0%, 0%);
}

.table td, .table th {

    text-align: center;
    word-wrap: break-all;
}

.table td{
    padding: 0em;
    text-align: center;

}
.table tr:nth-child(even) {
    background-color: hsl(0, 0%, 100%);
    word-wrap: break-all;    
}

.table .button-container{

    width: 0.5em;
}

.edit{
    background-color: hsl(0, 0%, 100%);
    border: none;
    width: 6em;
    transition-duration: 0.5s;
    svg{
     
        width: 15px;
        height: 15px ;
    }
}
.edit:hover{
    background-color: hsl(140, 94%, 32%);
    color: hsl(0, 0%, 100%);
    
}

.remove{
    background-color: hsl(0, 0%, 100%);
    border: none;
    width: 6em;
    transition-duration: 0.5s;
    svg{
        
        width: 15px;
        height: 15px ;
    }
}
.remove:hover{
    background-color: hsl(0, 94%, 32%);
    color: hsl(0, 0%, 100%);
    
    
}