
.table{
    width: 60%;
}

.table table {
    border-collapse: collapse;
    font-family: arial, sans-serif;
    width: 95%;
    background-color: hsl(0, 0%, 100%);
        
}

.table tr{
    border-bottom: 0.1em solid hsl(0, 0%, 0%);
}

.table td, .table th {

    text-align: center;
    word-wrap: break-all;
}

.table td{
    padding: 0em;
    text-align: center;

}
.table tr:nth-child(even) {
    background-color: hsl(0, 0%, 100%);
    word-wrap: break-all;    
}

.table .button-container{

    width: 0.5em;
}

.edit{
    background-color: hsl(0, 0%, 100%);
    border: none;
    svg{
     
        width: 15px;
        height: 15px ;
    }
}
.edit button:hover{
    background-color: hsl(140, 94%, 32%);
    color: hsl(0, 0%, 100%);
    
}

.remove{
    background-color: hsl(0, 0%, 100%);
    border: none;
    svg{
        
        width: 15px;
        height: 15px ;
    }
}