.login_main{
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: hsl(0, 0%, 69%);

}

#login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 30em;
    height: 50vh;
    box-shadow: 0.2em 0.2em 0.2em 0.2em hsla(0, 0%, 0%, 0.226), 0.2em 0.2em 0.2em 0.2em rgba(0, 0%, 0%, 0.226);
    margin-top: 8em;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2em;
    
    label{
      margin-bottom: 0.5em ;
      margin-top: 0.5em;
    }
    input{
        width: 60%;
        margin: 0 auto;
    }

    button{
        width: 6em;
        margin: 1em auto;
        height: 2em;
        display: inline-block;
        border-radius: 4px;
        text-align: center;
        transition: all 0.5s;
        cursor: pointer;
    }
}


.svg_box{

    height:6em;

    svg{
        width:6em;
        height:6em;
    }
}