
.table{
    width: 100%;
    margin-top: 1em;
    
}

.table table {
    font-family: arial, sans-serif;
    width: 100%;
    background-color: white;
}

.table td, .table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 0.4em;
    word-wrap: break-word;
}

.table td{
    text-align: center;
    font-size: 0.8em;
    
    
}

.table tr:nth-child(even) {
    background-color: #dddddd;
    word-wrap: break-word;    
}

.edit{
    background-color: rgb(173, 197, 150);
    svg{
        width: 15px;
        height: 15px ;
    }
}

.remove{
    background-color: rgb(243, 158, 158);
    svg{
        width: 15px;
        height: 15px ;
    }
}